@{
    ViewBag.Title = "Liên hệ với chúng tôi";
}
@section metatags
{
    <meta name="keywords" content="nhôm kính Bình Dương, nhôm kính giá rẻ Bình Dương , nội thất chung cư bình dương, nội thất bình dương, thi công nội thất bình dương" />
    <meta name="description" content="Dịch vụ thiết kế thi công nhôm kính Tân thời chúng tôi, cung cấp các sản phẩm nhôm kính Xingfa giá rẻ nhưng chất lượng" />
}

<div class="hero-wrap hero-bread" style="background-image: url('../images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Trang chủ</a></span> </p>
                <h1 class="mb-0 bread">Liên hệ với chúng tôi</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Đ/c:</span> 31 Lê Hồng Phong, Phú Lợi, TP-TDM, Bình Dương</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Phone:</span> <a href="tel://1234567920">0979.77.11.33</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">noithattanthoi@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Website</span> <a href="https://noithattanthoi.com/lien-he" target="_blank">noithattanthoi.com</a></p>
                    <p> <a href="/">noithatchungcubinhduong.com</a></p>
                </div>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form action="#" class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>

            <div class="col-md-6 d-flex">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.6315314828685!2d106.67371131480267!3d10.99115999217603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d11e194e753d%3A0x44e22858461b1054!2zMzEgTMOqIEjhu5NuZyBQaG9uZywgUGjDuiBM4bujaSwgVGjhu6cgROG6p3UgTeG7mXQsIELDrG5oIETGsMahbmc!5e0!3m2!1sen!2s!4v1587735298113!5m2!1sen!2s" frameborder="0" style="border:0; width:100%; height:500px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>



@section scripts
{
    <script>
        $(document).ready(function () {

            $(".pull-right li").removeClass("active");

            $(".pull-right li#menulh").addClass("active");

        });
    </script>
}