
@{
    ViewBag.Title = "TintucTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner1">

    <div class="w3_agileits_service_banner_info">
        <h2> Tin Tức</h2>
    </div>
</div>
<div class="inner_main_agile_section">
    <div class="container">
        <div class="row">
            <div class="grid_3 grid_5 wthree">
                <h3>Danh mục sản phẩm</h3>
                <div class="col-md-3 agileits-w3layouts">

                    <div class="list-group list-group-alternate">
                        <a href="#" class="list-group-item"><span class="badge">201</span> <i class="ti ti-email"></i> Inbox </a>
                        <a href="#" class="list-group-item"><span class="badge badge-primary">5021</span> <i class="ti ti-eye"></i> Profile visits </a>
                        <a href="#" class="list-group-item"><span class="badge">14</span> <i class="ti ti-headphone-alt"></i> Call </a>
                        <a href="#" class="list-group-item"><span class="badge">20</span> <i class="ti ti-comments"></i> Messages </a>
                        <a href="#" class="list-group-item"><span class="badge badge-warning">14</span> <i class="ti ti-bookmark"></i> Bookmarks </a>
                        <a href="#" class="list-group-item"><span class="badge badge-danger">30</span> <i class="ti ti-bell"></i> Notifications </a>
                    </div>
                    <h4>Tin tức nổi bật</h4>
                    <div class="widget-content">
                        <ul class="posts-list unstyled clearfix">
                            <li>
                                <figure class="featured-thumb">
                                    <a href="chi-tiet/10-y-tuong-phoi-mau-tu-bep-dang-thu-cho-khong-gian-nau-nuong-hien-dai-13"> <img width="80" height="53" alt="10 ý tưởng phối màu tủ bếp đáng thử cho không gian nấu nướng hiện đại" src="https://quantri.noithattanthoi.com/Photos/News/bep02_152.jpg"> </a>
                                </figure>
                                <!--featured-thumb-->
                                <h4><a title="10 ý tưởng phối màu tủ bếp đáng thử cho không gian nấu nướng hiện đại" href="chi-tiet/10-y-tuong-phoi-mau-tu-bep-dang-thu-cho-khong-gian-nau-nuong-hien-dai-13">10 ý tưởng phối màu tủ bếp đáng thử cho không gian nấu nướng hiện đại</a></h4>
                                <p class="post-meta">
                                    <i class="icon-calendar"></i>
                                    <time datetime="2014-07-10T07:09:31+00:00" class="entry-date">14/04/2020</time>
                                    .
                                </p>
                            </li>
                            <li>
                                <figure class="featured-thumb">
                                    <a href="chi-tiet/cach-phan-biet-noi-that-dep-1"> <img width="80" height="53" alt="Cách Phân biệt nội thất đẹp" src="https://quantri.noithattanthoi.com/Photos/News/Mau-ghe-sofa-phong-khach-hien-dai-GHS-8269-ava_754.jpg"> </a>
                                </figure>
                                <!--featured-thumb-->
                                <h4><a title="Cách Phân biệt nội thất đẹp" href="chi-tiet/cach-phan-biet-noi-that-dep-1">Cách Phân biệt nội thất đẹp</a></h4>
                                <p class="post-meta">
                                    <i class="icon-calendar"></i>
                                    <time datetime="2014-07-10T07:09:31+00:00" class="entry-date">07/04/2020</time>
                                    .
                                </p>
                            </li>
                            <li>
                                <figure class="featured-thumb">
                                    <a href="chi-tiet/15-mau-giuong-tang--2"> <img width="80" height="53" alt="15 mẫu giường tầng " src="https://quantri.noithattanthoi.com/Photos/News/giuon_tang1_253.jpg"> </a>
                                </figure>
                                <!--featured-thumb-->
                                <h4><a title="15 mẫu giường tầng " href="chi-tiet/15-mau-giuong-tang--2">15 mẫu giường tầng </a></h4>
                                <p class="post-meta">
                                    <i class="icon-calendar"></i>
                                    <time datetime="2014-07-10T07:09:31+00:00" class="entry-date">07/04/2020</time>
                                    .
                                </p>
                            </li>
                            <li>
                                <figure class="featured-thumb">
                                    <a href="chi-tiet/go-veneer-la-gi-uu-nhuoc-diem-cua-go-veneer-test-test-12"> <img width="80" height="53" alt="Gỗ veneer là gì? Ưu nhược điểm của gỗ Veneer test test" src="https://quantri.noithattanthoi.com/Photos/News/go-veneer-la-gi_827.jpg"> </a>
                                </figure>
                                <!--featured-thumb-->
                                <h4><a title="Gỗ veneer là gì? Ưu nhược điểm của gỗ Veneer test test" href="chi-tiet/go-veneer-la-gi-uu-nhuoc-diem-cua-go-veneer-test-test-12">Gỗ veneer là gì? Ưu nhược điểm của gỗ Veneer test test</a></h4>
                                <p class="post-meta">
                                    <i class="icon-calendar"></i>
                                    <time datetime="2014-07-10T07:09:31+00:00" class="entry-date">07/04/2020</time>
                                    .
                                </p>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-9 w3-agileits">
                    <div class="agileinfo_services_grids">
                        <div class="col-md-4 agileinfo_services_grid">
                            <div class="hovereffect w3ls_banner_bottom_grid">
                                <img src="~/images/6.jpg" alt=" " class="img-responsive">
                                <div class="overlay">
                                    <h4>Consultancy Consultancy Consultancy</h4>
                                    <a href="#">Chi tiết</a>
                                </div>

                            </div>
                            <p>Phasellus a porttitor metus, vitae ultrices nibh.</p>
                            <div class="agileinfo_services_grid1_pos">
                                <a href="#"> <span class="glyphicon glyphicon-retweet " aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_services_grid">
                            <div class="agileinfo_services_grid1">
                                <h4>It Management</h4>
                                <p>Phasellus a porttitor metus, vitae ultrices nibh. Sed eu fermentum nunc.</p>
                                
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_services_grid">
                            <div class="agileinfo_services_grid1">
                                <h4>App Consulting</h4>
                                <p>Phasellus a porttitor metus, vitae ultrices nibh. Sed eu fermentum nunc.</p>
                                <div class="agileinfo_services_grid1_pos">
                                    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
           
        </div>


        
    </div>
</div>
